{% assign software = site.data.data.software %} {% if software %}
<section class="section software-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-box-open fa-stack-1x fa-inverse"></i>
    </span>
    {{ software.title }}
  </h2>

  {% for software in software.list %}
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="cert-title">{{ software.name }}</h3>
        <div class="time">
          {{ software.start }} {% if software.end %} - {{
          software.end }} {% endif %}
        </div>
      </div>
      <!--//upper-row-->

      <div class="second-upper-row">
        <div class="cert-org">
          {{ software.organization }} {% if software.credentialid %}
          ({{ software.credentialid }}) {% endif %}
        </div>
        {% if software.credentialurl %}
        <div class="cert-url">
          <a
            href="//{{ software.credentialurl }}"
            target="_blank"
            rel="noreferrer nofollow noopener"
            >{{ software.credentialname }}</a
          >
        </div>
        {% endif %}
      </div>
    </div>
    <!--//meta-->

    <div class="details">{{ software.details | markdownify }}</div>
  </div>
  <!--//item-->
  {% endfor %}
</section>
<!--//section-->
{% endif %}
